.email{
    /* background-color: red !important; */
    height: 100%;
    
    
}
mat-sidenav-container{
    height: 100%;
    color: #d0d2d6;
}
.current{
    border-left: 5px solid  #7367f0;
    color: #7367f0;
    filter: invert(52%) sepia(69%) saturate(5450%) hue-rotate(228deg) brightness(100%) contrast(89%);
}
.mat-sidenav{
    margin-left: 0;
    padding-left: 0;
    width: 280px;
    background-color: #283046;
    color: #d0d2d6;
}
mat-sidenav-content{
    background-color: #283046;
}
.compose{
    height: 60px;
    background-color: #7367f0;
    border-radius: 10px;
    margin: 25px;
    cursor: pointer;
}

/* .email-buttons{
    
    
} */
.email-buttons-child{
    cursor: pointer;
    padding-left: 40px;
}
.email-buttons-child:hover{
    color: #7367f0;
    filter: invert(52%) sepia(69%) saturate(5450%) hue-rotate(228deg) brightness(100%) contrast(89%);
    /* filter for changing color of svg file  https://stackoverflow.com/questions/22252472/how-to-change-the-color-of-an-svg-element#:~:text=You%20can't%20change%20the,or%20using%20inline. */
} 

.email-side-content{
    width: calc(100%-280px);  
}

.compose:hover{
    box-shadow:0 0 10px 1px rgb(115 103 240 / 90%);
}
.email-menu{
    display: none;
    margin:10px
}

@media screen and (max-width: 1024px) 
{
    .email-menu{
        display: block;
    }
    
}
div.compose-mail{

    /* position: fixed; */
    margin: 30px;
    width: 68% !important;
    z-index: 3;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    
    /* border: 3px solid #73AD21 */
}
.header{
    background-color: #161d31;
    font-size: 1.3rem;
    letter-spacing: .9px;
    padding: 10px;
    border: 1px solid;
    border-color: #3b4253;
}
.content{
    background-color: #283046;
    border-color: #3b4253;
}
.form-group{
    color: #d0d2d6;
    padding: 10px;
    border: 1px solid;
    border-color: #3b4253;
}

input{
    color: #d0d2d6;
    text-decoration: none;
    border: none;
    background-color:#283046;
    padding-left:10px;
    
}
input:focus , textarea:focus{
    outline: none;
}
textarea{
    text-decoration: none;
    color: #d0d2d6;
    width: 100%;
    border: none;
    background-color:#283046;
}
textarea::placeholder{
    color: #d0d2d6;
    font-style: italic;

}

button{
    color: #d0d2d6;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    /* margin: 10px; */
    border: none;
    /* background-color: #7367f0; */
    background-color: #413b7e;
}
.submit{
    background-color: #7367f0 ; 
    
}
.submit:hover{
    box-shadow:1px 1px 8px  #6257f7;
}
div.header>mat-icon{
    cursor: pointer;
}

